In [1]:
import numpy as np
import pandas as pd

In [2]:
leaf=pd.read_csv("Iris_dataset.csv")

In [3]:
leaf.head(9)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa
5   6            5.4           3.9            1.7           0.4  Iris-setosa
6   7            4.6           3.4            1.4           0.3  Iris-setosa
7   8            5.0           3.4            1.5           0.2  Iris-setosa
8   9            4.4           2.9            1.4           0.2  Iris-setosa

In [4]:
x=leaf[["SepalLengthCm","SepalWidthCm","PetalLengthCm","PetalWidthCm"]]
y=leaf["Species"]

In [5]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.8,random_state=43)

In [6]:
x_train

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
96             5.7           2.9            4.2           1.3
19             5.1           3.8            1.5           0.3
93             5.0           2.3            3.3           1.0
98             5.1           2.5            3.0           1.1
108            6.7           2.5            5.8           1.8
..             ...           ...            ...           ...
58             6.6           2.9            4.6           1.3
21             5.1           3.7            1.5           0.4
49             5.0           3.3            1.4           0.2
64             5.6           2.9            3.6           1.3
68             6.2           2.2            4.5           1.5

[120 rows x 4 columns]

In [7]:
y_train

96     Iris-versicolor
19         Iris-setosa
93     Iris-versicolor
98     Iris-versicolor
108     Iris-virginica
            ...
58     Iris-versicolor
21         Iris-setosa
49         Iris-setosa
64     Iris-versicolor
68     Iris-versicolor
Name: Species, Length: 120, dtype: object

In [8]:
from sklearn.tree import DecisionTreeClassifier

In [10]:
lap=DecisionTreeClassifier()
lap.fit(x_train,y_train)

DecisionTreeClassifier()

In [12]:
y_pred=lap.predict(x_test)
y_pred

array(['Iris-setosa', 'Iris-setosa', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-virginica', 'Iris-setosa', 'Iris-virginica',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-virginica',
       'Iris-setosa', 'Iris-versicolor', 'Iris-virginica', 'Iris-setosa',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-setosa', 'Iris-setosa',
       'Iris-virginica', 'Iris-virginica', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-virginica', 'Iris-versicolor',
       'Iris-virginica', 'Iris-setosa', 'Iris-versicolor', 'Iris-setosa',
       'Iris-setosa'], dtype=object)

In [14]:
from sklearn.metrics import accuracy_score
ac=accuracy_score(y_test,y_pred)
ac*100

90.0